<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-solid fa-graduation-cap"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:3000">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">All posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Network</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="http://localhost:3000/stories">Success stories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Donate Now</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">other feature</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="http://localhost:3000/stories/new">new story</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>