<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <h1>this is a sample home</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum enim officia dignissimos, excepturi quibusdam dolorem minus in, cumque autem sed ipsum perspiciatis soluta! Laborum officia eum possimus magni! Minima, et.
    </p>
    <button>click me!!!!</button>
</body>
<script src="/sample.js"></script>
