<% layout("/layouts/boilerplate.ejs") -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create a new story</title>
</head>
<body>
    <h1>create the new story</h1>
    <form action="/stories/new" method="post">
        <form>
            <div class="mb-3">
              <label for="" class="form-label">Title</label>
              <input type="text" name="title" class="form-control" id="" aria-describedby="emailHelp">
              <div id="" class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">content</label>
              <!-- <input type="password" class="form-control" id="exampleInputPassword1"> -->
               <textarea name="content" id="" class="form-control"></textarea>
            </div>
            <div class="mb-3 form-check">
                <!-- <input type="hidden" class="form-check-input" name="isFeatured" value="false">
                <input type="checkbox" id="" name="isFeatured" value="true">
                <label class="form-check-label" for="exampleCheck1">is featured</label> -->

            </div>
            <button class="btn btn-primary">submit</button>
          </form>
    </form>
</body>
</html>